%h4 Search Flights
%div
  %h5
    From
    %br/
    %input.span12{:placeholder => "City name or airport", :type => "text"}/
  %h5
    To:
    %br/
    %input.span12{:placeholder => "City name or airport", :type => "text"}/  
  %h5
    Leave
    %br/
    %select.span4{:placeholder => "1"}
      - for i in 1..31 do
        %option= i
    %select.span8
      %option Aug, 2013
      %option Sep, 2013
      %option Oct, 2013
      %option Nov, 2013
      %option Dec, 2013
      %option Jan, 2014
      %option Feb, 2014
      %option Mar, 2014
      %option Apr, 2014
      %option May, 2014
      %option Jun, 2014
      %option Jul, 2014
  %h5
    Return
    %br/
    %select.span4{:placeholder => "1"}
      - for i in 1..31 do
        %option= i
    %select.span8
      %option Aug, 2013
      %option Sep, 2013
      %option Oct, 2013
      %option Nov, 2013
      %option Dec, 2013
      %option Jan, 2014
      %option Feb, 2014
      %option Mar, 2014
      %option Apr, 2014
      %option May, 2014
      %option Jun, 2014
      %option Jul, 2014
  .row-fluid
    - text_type = {:Adults => 2, :Children => 0, :Infant => 0}
    - text_type.keys.each do |key|
      %h6.span4      
        = key
        %br/
        %select.span11{:placeholder => text_type[key]}
          - for i in 1..10 do
            %option= i  
  .row-fluid
    - text_type = {"Leave time" => "No preference", "Return time" => "No preference"}
    - text_type.keys.each do |key|
      %h6.span6      
        = key
        %br/
        %select.span11{:placeholder => text_type[key]}
          - for i in 1..2 do
            - for j in 1..12 do
              -if i == 1
                %option= "#{j} AM" 
              - else  
                %option= "#{j} PM"                                    
  %br/
  %label.checkbox
    %input{:type => "checkbox"}  One way

  %button.btn.btn-primary{:type => "submit"} Search
