<li class="row-fluid" itemscope itemtype="http://schema.org/Product">																																										             
	<div class="span3">																				 
	  <%= render  'thumbnails' %>	
	</div> <!--/span3-->																		
	<div class="span9">																  						  
		<div class="row-fluid">
			<div class="span9">
			  <%= render 'item_info'%>
			</div>                 
			<div class="span3">
			  <%= render 'rating' %>
      	<br>
      	<%= render 'base_price'%>							    							   							    							     
      </div>                 
    </div> 
		<small>						
		  <%= render  'rooms' %>
		</small>							  
	</div>	
</li>

