%li.row-fluid{:itemscope => "", :itemtype => "http://schema.org/Product"}
  .span3
    = render  'thumbnails'
  .span9
    .row-fluid
      .span9
        = render 'item_info'
      .span3
        = render 'rating'        
        = render 'base_price'
    %small
      = render  'rooms'
%br/      
