<div class="container-fluid success">

  <div class="row-fluid ">
  
    <div class="span2">
		<!--Sidebar content-->
		
			<h4>Search Hotel</h4>  
			<div>
			
				<h5> 
					 Destination/hotel name: <br>									
					 <input class="span12" type="text" placeholder="Madrid">
				</h5>
				
				<h5 >
					Distance<br>
					<select class="span12" placeholder="10 km">											  
					  <% for i in 1..10 do%>
							<option><%= i*10 %> km</option>
						<% end %>						
					</select>
				</h5>											
							
				<h5>
					Check-in date<br>
					<select class="span4">			
					  <option >1</option>
					  <% for i in 2..31 do%>
							<option><%= i %></option>
						<% end %>						
					</select>
					<select class="span8">
						<option> August 2013 </option>
						<option> September 2013 </option>
						<option> October 2013 </option>
						<option> November 2013 </option>
						<option> December 2013 </option>
						<option> January 2014 </option>
						<option> February 2014 </option>
						<option> March 2014 </option>
						<option> April 2014 </option>
						<option> May 2014 </option>
						<option> June 2014 </option>
						<option> July 2014 </option>
					 </select>
				</h5>						
				
				<h5>
					Check-out date<br>  
					<select class="span4">			
					  <option>1</option>
					  <% for i in 2..31 do%>
							<option><%= i %></option>
						<% end %>						
					</select>										
					<select class="span8">
						<option> August 2013 </option>
						<option> September 2013 </option>
						<option> October 2013 </option>
						<option> November 2013 </option>
						<option> December 2013 </option>
						<option> January 2014 </option>
						<option> February 2014 </option>
						<option> March 2014 </option>
						<option> April 2014 </option>
						<option> May 2014 </option>
						<option> June 2014 </option>
						<option> July 2014 </option>
					 </select>				
				</h5>				
				
				<div class="row-fluid">									
				
					<h6 class="span4">
						Adults<br>
						<select class="span11" placeholder="0">
							<% for i in 1..10 do %>
								<option><%= i %></option>
							<% end %>													
						</select>						
					</h6> <!--/span4-->				
					
					<h6 class="span4" placeholder="0">
						Children<br>
						<select class="span11" >							
							<% for i in 0..10 do %>							  
								<option><%= i %></option>								
							<% end %>													
						</select>						
					</h6> <!--/span4-->				
					
					<h6 class="span4">
						Infants<br>
						<select class="span11" placeholder="0">						
							<% for i in 0..10 do %>							  
								<option> <%= i %> </option>								
							<% end %>													
						</select>						
					</h6> <!--/span4-->				
																																					
				</div> <!--/row-fluid-->				


       	<h5> 
					Rooms							
					<select class="span4" placeholder="1">
						<% for i in 1..10 do %>							  
							<option value="<%= i %>"> <%= i %> </option>								
						<% end %>													
					</select>						
				</h5> <!--/span4-->				
				
				<button type="submit" class="btn btn-primary">Search Hotels</button>								
			</div>
    </div> <!--/span3-->
    
    <div class="span10 ">                    
    
      <!--TODO: Order by-->    
      <!--
			<div class="btn-toolbar">
				<div class="btn-group" >
					<a class="btn" href="#"><i class="icon-align-left"></i></a>
					<a class="btn" href="#"><i class="icon-align-center"></i></a>
					<a class="btn" href="#"><i class="icon-align-right"></i></a>
					<a class="btn" href="#"><i class="icon-align-justify"></i></a>
				</div>
			</div>
			-->
    
			<ul class="unstyled">
				<% 1.upto(10) do%>
					<li class="row-fluid" itemscope itemtype="http://schema.org/Product">					 												
						<% hotel_name = "Hotel #{Faker::Company.name}" %>													
						
						<div class="span3">																				 
							<a class="thumbnail" title="hotel_name" href="#"> 													  
								<%= image_tag "hotels/#{rand(9) + 1}.jpg" %>																										
							</a> 						
							
							<!--thumbnails-->
							<div class="row-fluid">								
								<% 1.upto 2 do%>								
								  <div>
									<% 1.upto 3 do%>										
										<a class="thumbnail span4"> <%= image_tag "hotels/#{1 + rand(9)}.jpg" %></a>																			 
									<% end %>									
									</div>
								<% end %>
							</div> <!--/row-fluid-->																											
						</div> <!--/span3-->
						
						
						
						<div class="span9">																  						  
							<div class="row-fluid">
								<div class="span9">
									<h4 itemprop="name" >
										<%= hotel_name %> 
										<% star = 2 + rand(3) %>								
										<% 1.upto(star) do%> 																						 	
										 <i	class="icon-star"></i>										
										<% end%><br>																																
										<small class="muted">
										  <%= Faker::Address.street_address%>
										  <a>
											<span>Show at map</span>
											<i class="icon-map-marker"></i>																																										
										  </a>
										</small>									
									</h4>
									<p> 																
										<%= truncate(Faker::Lorem.sentence(word_count = 50), :length => 240) %>
									</p>                
								</div> <!--/span9-->
                
								<div class="span3">
								  <% rating = 1 + rand(4) %>								
									<% 1.upto(rating) do%> 																						 	
									 <i	class="icon-certificate"></i>										
									<% end%>
									<% 5.downto(rating +1) do%> 																						 	
									 <i	class="icon-certificate icon-white"></i>										
									<% end%>
									<br>    
									          
                  <div>
                    <a class="text-info">                    
                      Very good, <%= 6 + rand(4)%>.<%= rand(10)%>/10 
                      <span class="tile_fix">&nbsp;</span>
                    </a>
                      <p>
                      Score from
                      <strong class="count"><%= 100 + rand(1000)%></strong>
                    reviews
                    </p>
                  </div>                                    
                	<br>
                	
							     <p href="#" class="offset3 btn btn-info btn-small ">Info & Book &raquo;</p>							   							    
							     
                </div> <!--/span3-->
                
              </div> <!--row-fluid-->							
              
							
							<small>
						
							  <table class="table table-hover table-condensed">
								  <thead>
									  <tr>
										  <th>Available room types </th>
										  <th>Persons</th>
										  <th>Availability</th>
										  <th>Price for 5 nights</th>
									  </tr>
								  </thead>								
								  
								  <tbody>
										<% colum = 2 + rand(3)%>
										<% 1.upto(colum) do%> 		
																	    
											<tr >									    
											
												<td>											
													<% rooms = ["Standard Studio", "Superior Room", "Executive Room", "Deluxe Studio", "One-Bedroom Apartment", 
																			"Two-Bedroom Apartment", "Suite", "Junior Suite"] %>
													<% room = rooms[rand(7)] %>
													<a href="#"> <%= room %> </a>																					   
													<% maybe = rand(8)%>
													<% if maybe == 3 %>
														<small><span class="label label-success">Save <%= 20 + rand(50)%>! &raquo;</span></small>
													<%elsif maybe == 2%>  
														<small><span class="label label-warning">Last one! &raquo;</span></small> 
													<% end %>   
												</td>											
												
												<td >																					
													<% paxs = 1 + rand(3) %>								
													<% 1.upto(paxs) do%> 	
														<% if paxs == 2 and false %>																					 	
															<i class="icon-parents"></i>										
														<% else %>  
															<i class="icon-user icon-large"></i>  												 
														<% end %>  												
													<% end %> 											
													
													<% childs = rand(2) %>								
													<% if childs > 0%>
														+
														<% 1.upto(childs) do%> 												       
															 <i class="icon-user"></i>
														<% end %><br>
													<% end %>  																																																						
												</td>
												
												<td class="text-warning">											
														Only <%= 1 +rand(5)%> left
												</td>
												
												<td class="text-info">																						
														$ <%=price = 100 + rand(200)%> USD												
												</td>
												
												<td>
													<small><span class="label label-info">Info & Book &raquo;</span></small> 
												</td>
												
											<tr>																			
									  
										<% end %>																		
								  </tbody>	
							  </table>
							</small>	
						  
						</div>	<!--/span9-->																																																	
						
					</li>
					<p></p>
				<% end%>					
			</ul>	
    </div><!--/span9-->          
  </div><!--/row-->
</div><!--container-->










